<h1>Hola {{vm.nombre | uppercase }}</h1>
<p>
  <input type="text" ng-model="vm.nombre" >
  <input type="button" value="saluda" ng-click="vm.saluda()" >
  <input type="button" value="despide" ng-click="vm.despide()" >
  <input type="button" value="di algo" ng-click="vm.di('algo')" >
  <input type="button" value="cambia" ng-click="vm.cambia()" >
</p>
<p ng-bind="vm.resultado">Esto se pierde</p>
<p ng-bind-html="vm.resultado">Esto se pierde</p>

<p ng-show="vm.visible">Ahora me ves</p>
<p ng-if="vm.visible">Ahora existo</p>
<p ng-class="vm.estetica">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat dicta officiis molestiae laudantium accusamus quo illo quibusdam, id repudiandae facere quisquam repellendus? Quas amet delectus repudiandae dicta et, dolores vero.
</p>

<p>
  Calcula: 2 + 2 = {{2 + 2}} = {{ vm.calcula(2, 2) | currency:'€' }}
</p>
<ul>
  <li ng-repeat="provincia in vm.listado | limitTo:-5 | orderBy:'nombre'"
style="background-color:{{$even?'white':'yellow'}}">
    {{provincia.nombre | capitalize }} ({{provincia.id}})
    [{{$index + 1}} de {{vm.listado.length}}]
  </li>
</ul>

<p>
  <select ng-model="vm.idProvincia"
    ng-options="p.id as p.nombre for p in vm.listado track by p.id" >
    <option value="">--Elige opcion--</option>
  </select>
  Seleccionado: {{vm.idProvincia}}
  <input type="button" value="Bilbao" ng-click="vm.add('Bilbao')" >
  <input type="button" value="Toledo" ng-click="vm.add('Toledo')" >
</p>
{{vm.listado | json}}
